@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
$body-font-family: 'Teko';

.bar-client {
    font-family: $body-font-family !important;
}

.police-espace-client {
    font-family: $body-font-family !important;
}